<head>
    <link rel="stylesheet" type="text/css" href="css/estiloLogin.css">

</head>
<div class="login-page">
<h1 style="text-align=center">Login</h1>
  <div class="form">
    <form class="login-form" name="formLogin">
      <input type="text" name="nombre" ng-model="usuario.nombre" placeholder="Nombre de usuario" required/>
      <span style="color:red" ng-show="formLogin.nombre.$invalid && formLogin.nombre.$touched">*Campo obligatorio</span>      
      <input type="number" name="dni" ng-model="usuario.dni" placeholder="DNI" required/><span style="color:red" ng-show="formLogin.dni.$invalid && formLogin.dni.$touched">*Campo obligatorio</span> 
      <input type="password" placeholder="Clave" name="clave" ng-model="usuario.clave" required/><span style="color:red" ng-show="formLogin.clave.$invalid && formLogin.clave.$touched">*Campo obligatorio</span> 
      <button>Ingresar</button>
      <p class="message">¿Aún no esta registrado? <a ui-sref="Registro">Crear una cuenta</a></p>
    </form>
  </div>
</div>
<script type="text/javascript" src="js/index.js"></script>

