<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->titulo </h1>

			<form id="formAlta" name="formAlta" enctype="multipart/form-data" >
				<h1>Estado de Formulario</h1>

				<input type="text" name="apellido" ng-model="persona.apellido" placeholder="ingrese apellido" value="" required />
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span>
				<input type="text" name="nombre" ng-model="persona.nombre" placeholder="ingrese nombre" value=""
				required  /> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				<input type="email" name="correo" ng-model="persona.correo" placeholder="ingrese correo" value=""  required   /> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>

				<input type="password" name="correo" ng-model="persona.password" placeholder="ingrese contraseña" value="" required />
				<input type="password" name="coreoCopia" ng-model="persona.passwordCopia" placeholder="ingrese nueva contraseña" value="" required/>
				<p style='color: black;'>*El DNI no se puede modificar.</p> ": "" ; ?>
				
				<input type="hidden" name="idOculto" id="id" value="" />
				<!--
				<input type="file" name="foto" />


				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<a class="btn btn-info " ng-click="Guardar()" name="guardar" ng-disabled="(persona.password != persona.passwordCopia) || FormIngreso.$invalid"  ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>