<div class="container">
		<div class="page-header">
			<center> <h1>Alta de votante</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1>DATOS DE PERSONA</h1>
			<br>
			<form id="formAlta" name="formAlta" enctype="multipart/form-data" >
				

				<input type="number" name="dni" ng-model="votacion.dni" placeholder="Ingrese DNI" value="" required />
				<span id="lblApellido" ng-show="formAlta.dni.$invalid" style="color:red">*Campo requerido<br>
				</span><br>
					<fieldset style="width:150px">
						<legend>Sexo:</legend>
							<input type="radio" ng-model="votabte.sexo" name="sexo" value="M">Masculino<br><br>
							<input type="radio" ng-model="votante.sexo" name="sexo" value="F">Femenino<br><br>
							<span style="color:red" ng-show="votante.sexo == null">*Debe elegir una opción</span>
					</fieldset>
					<br>
				<div style="width:300px;color:black">
					<h4>Ingrese de fecha votación:</h4>
					<input type="date" style="width:170px" name="fecha_votacion" ng-model="votacion.fecha_votacion" required> 
					<select name="partido_politico" ng-model="votacion.partido_politico">
						<option value="PRO">Propuesta Republicana</option>
						<option value="FPV">Frente Para la Victoria</option>
						<option value="UCR">Unión Cívica Radical</option>
					</select>
					
					<input type="hidden" name="idOculto" id="id" value="" />
				</div>

				<a class="btn btn-info " ng-click="Guardar()" name="guardar" ng-disabled="formAlta.$invalid"  ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>